{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 120,
	"singleQuote": true,
	"semi": true,
	"plugins": ["prettier-plugin-apex"],
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cls,trigger,apex}",
			"options": {
				"parser": "apex",
				"apexInsertFinalNewline": true
			}
		},
		{
			"files": "*.{json,md,yml,yaml}",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
